.form-1 {
    width: 500px;
    height: 150px;
    border-radius: 10px;
    background-color: gray;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-indent: 20px;
    line-height: 1.5;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}

.form-2 {
    width: 500px;
    height: 150px;
    border-radius: 10px;
    background-color: gray;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-indent: 20px;
    line-height: 1.5;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}

.form-3 {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    background-color: gray;
    position: absolute;
    top: 25%;
    right: 20%;
    transform: translate(-50%, -50%);
    text-indent: 20px;
    line-height: 1.5;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}

.form-4 {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    background-color: gray;
    position: absolute;
    top: 25%;
    right: 20%;
    transform: translate(-50%, -50%);
    text-indent: 20px;
    line-height: 1.5;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}